body {
	background-color: #f0f0f0;
}
p,
h1,
h2 {
	color: black;
	font-family: 'Roboto', sans-serif;
}
p {
	font-family: 'Roboto', sans-serif;
}
nav {
	background-color: #cdcdcd; /* #222222;*/
	margin-bottom: 50px;
}
a.nav-link {
	color: black;
}

.btn-outline-secondary {
	margin-right: 15px;
}
.btn-primary {
	margin-left: 10px;
}
.navbar-toggler {
	color: black;
}

.content {
	background: #f0f0f0;
	padding: 20px;
	margin-bottom: 10px;
}
.form-control {
	margin-left: 10px;
}
